@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}



body{
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    width: 1500px;
}


/*-----NAVBAR SECTION-----*/

.navbar{
    padding: 20px;    
}

.navbar__list{
    height: 45px;
    list-style: none;
    background-color: #94E3F7;
    border-radius: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px #ccc;

}

.navbar__item{
    text-transform: uppercase;
    transition: transform 0.5s;
}

.navbar__link{
    text-decoration: none;
    color: #000;
    transition: color 0.5s;
}

.navbar__link:hover{
    color: #17548F;
}

.navbar__item:hover{
    transform: scale(1.2);
}


/*-----MAIN SECTION-----*/

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 20px 0 20px;
    border: 5px solid #94E3F7;
    border-radius: 20px;
    box-shadow: 0 15px 15px #ccc;
    
}

.main__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main__text h1{
    font-size: 4rem;
}

.main__text p{
    font-size: 1.25rem;
}

.main__text button{
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #94E3F7;
    color: #fff;
    border: none;
    outline: none;
}

.main__text button:hover{
    outline: 1px solid #fff;
    background-color: #17548F;
}

.main__figure{
    filter: drop-shadow(0px 0px 25px rgba(0,0,0,0.4));
}


/*-----SERVICES SECTION-----*/

.separation{
    height: 45px;
    max-width: 1500px;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #94E3F7;
    color: #17548F;
    border-radius: 25px;
    box-shadow: 0 5px 10px #ccc;
    margin: 30px 0 30px 0;

}

.services{
    max-width: 1500px;
    height: 400px;
    justify-self: center;
    display: flex;
    align-items: center;
    margin: 0px 0 30px 0;
    gap: 50px;
}


.card{
    background-color: #fff;
    padding: 10px;
    border: 4px solid #94E3F7;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #ccc;
    color: #17548F

}

.card:hover{
    transform: scale(1.1);
}


.card:first-child img{
    object-position: top;

}
.card img{
    height: 250px;
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
}

/*-----ABOUT US SECTION-----*/

.aboutUs{
    width: 1500px;
    border:4px solid #94E3F7;
    border-radius: 25px;
    display: flex;
    box-shadow: 0 5px 10px #ccc;
}

.aboutUs__text{
    padding: 30px;
    text-align: justify;
    font-size: 1.4rem;
    color: #17548F;
}



.aboutUs__img{
    height: 300px;
}

.aboutUs__img img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
    border-left: 4px solid #94E3F7;
}


/*-----OPINION SECTION-----*/

.opinion{
    width: 400px;
}

.opinion__container{
    width: 1500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.opinion__card{
    border: 3px solid #3ec9ec;
    color: #17548F;
    background-color: #94E3F7;
    border-radius: 25px;
    height: 370px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    transition: transform 0.5s;
    box-shadow: 0 5px 20px #b4b4b4;
    text-align: center;
}

.opinion__card h3{
    font-size: 1.25rem;
}

.opinion__card p{
    font-size: 1rem;
    padding: 0 5px 0 5px;
}

.opinion__card:hover{
    transform: scale(1.2);
}

.opinion__card img{
    margin-top: 25px;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    object-fit: cover;
    filter: drop-shadow(0 0 15px #fff);
}



/*-----FOOTER SECTION-----*/
footer{
    margin-top: 70px;
    text-align: center;
    background-color: #94E3F7;
    height: 100px;
    width: 100%;
}
