@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}



body{
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
}


/*-----NAVBAR SECTION-----*/

.navbar{
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    justify-self: center;
    transition: width 0.3s;    
}

.navbar__list{
    height: 45px;
    list-style: none;
    background-color: #94E3F7;
    border-radius: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center; 
}

nav.sticky{
    z-index: 101;
    width: 50%;
    transition: width 0.9s linear;
    justify-self: center;
    filter: drop-shadow(0 10px 20px #494949);
}

.navbar__item{
    text-transform: uppercase;
    transition: transform 0.5s;
}

.navbar__link{
    text-decoration: none;
    color: #565360;
    transition: color 0.5s;
}

.navbar__link:hover{
    color: #17548F;
}

.navbar__item:hover{
    transform: scale(1.2);
}


/*-----MAIN SECTION-----*/

.main{
    background-image: url(/VeterinariaWeb/imgs/veterinaria.jpg);
    background-size: cover;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
    box-shadow: 0 15px 15px #ccc;
    
}

.main__text{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #0009;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.main__text h1{
    font-size: 4rem;
}

.main__text p{
    font-size: 1.25rem;
}

.main__text button{
    font-size: 1.25rem;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #94E3F7;
    color: #fff;
    border: none;
    outline: none;
}

.main__text button:hover{
    outline: 1px solid #fff;
    background-color: #17548F;
}

.main__figure{
    filter: drop-shadow(0px 0px 25px rgba(0,0,0,0.4));
}

/*-----SLIDER SECTION-----*/
.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 25px;
}

.slider .slider__track{
    display: flex;
    gap: 30px;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 15s linear infinite;
    width: calc(300px * 10);
}
.slider .slide{
    width: 300px;
}

.slider .slide img{
    width: 100%;
    height: 100px;
}

.slide img{
    object-fit: cover;
}

.slide{
    filter: grayscale();
    transition: filter 0.4s;
}

.slide:hover{
    filter: none;
}


@keyframes scroll {
    0% { transform: translateX(0); -webkit-transform: translateX(0); }
    100% {transform: translateX(calc(-300px*5)); -webkit-transform: translateX(calc(-300px*5)); }
}



/*-----ABOUT US SECTION-----*/

.aboutUs{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    
}

.aboutUs__block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}


.aboutUs__img img{
    height: 500px;
    width: 550px;
    border-radius: 50% 80% / 70% 10%;
    object-fit: cover;
}

.aboutUs__block:nth-child(2) .aboutUs__img img{
    border-radius: 30% 30% / 80% 80%;
}
.aboutUs__block:nth-child(3) .aboutUs__img img{
    border-radius: 60px 70px 40px 140px;
}

.aboutUs__text{
    width: 30%;
    font-size: 1.75rem;
    color: #565360;
}

.aboutUs__text h3{
    position: relative;
    color: #302e35;
}

.aboutUs__text h3::before{
    content: "";
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #302e35;
    position: absolute;
}

/*-----SERVICES SECTION-----*/

.separation{
    height: 45px;
    max-width: 1500px;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #94E3F7;
    color: #17548F;
    border-radius: 25px;
    box-shadow: 0 5px 10px #ccc;
    margin: 30px 0 30px 0;

}

.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #17548F;
    padding: 20px;
    margin: 100px 0 100px 0
}

.services h2{
    color: #FFFFFF;
    font-size: 3rem;
    position: relative;
}

.services h2::before{
    content: "";
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 2px;
    position: absolute;
}


.card__container{
    width: 100%;
    height: 75%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    min-width: 300px;
    height: auto;
    width: 550px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.5s;
    color: #565360;
    font-size: 0.9rem;
    filter: grayscale();

}

.card:hover{
    filter: none;
}


.card:hover h2{
    color: #17548F;
}

.card:hover{
    transform: scale(1.1);
}

.card h2{
    color: #302e35;
    font-size: 1.5rem;
}


.card:first-child img{
    object-position: top;

}

.card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

/*-----OPINION SECTION-----*/

.opinion{
    width: 400px;
}



.opinion__slayer{
    font-size: 1.5rem;
    width: 100%;
    padding-left: 10%;
    color: #302e35;
    margin: 40px 0 40px 0;
}

.opinion__slayer p{
    color: #565360;
}

.opinion__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
}

.opinion__card{
    color: #FFFFFF;
    background-color: #17548F;
    height: 480px;
    width: 650px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.opinion__card h3{
    font-size: 1.25rem;
}

.opinion__card p{
    margin-top: 25px;
    font-size: 1rem;
}



.opinion__card img{
    margin-top: 25px;
    border: 3px solid #fff;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-bottom: 15px;
}


/*-----LOCATION SECTION-----*/

.location{
    display: flex;
    gap: 50px;
}


/*-----FOOTER SECTION-----*/
footer{
    margin-top: 70px;
    text-align: center;
    background-color: #94E3F7;
    height: 100px;
    width: 100%;
}
